

<div class="container">


  <div class="contenido-img">

      <div class="contenidoBuscar">
          <div class="buscador">
            <input
            type="text"
            placeholder="Buscar..."
            id="search"
            #buscarTexto
            (keyup.enter) = 'buscarLibro(buscarTexto.value)'
            class="buscar"
            >
          </div>

          <div class="buscadorverde">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
      </div>


      <input type="radio" id="i1" name="images" checked />
      <input type="radio" id="i2" name="images" />
      <input type="radio" id="i3" name="images" />
      <input type="radio" id="i4" name="images" />
      <input type="radio" id="i5" name="images" />	
  
      <div class="slide_img" id="one">			
        
        <img src="./../../../assets/img/navbar/invitacion-01.jpg">
        <div class="encab">
            <p class="encabezado">"LA ESCRITURA ES LA</p>
            <p class="encabezado encabezadoverde">PINTURA DE LA VOZ"</p>
        </div>
          <label class="prev" for="i5"><span>&#x2039;</span></label>
          <label class="next" for="i2"><span>&#x203a;</span></label>	
  
      </div>
  
      <div class="slide_img" id="two">
  
        <img src="../../../assets/img/navbar/estudiante.jpg" >
        
          <label class="prev" for="i1"><span>&#x2039;</span></label>
          <label class="next" for="i3"><span>&#x203a;</span></label>
  
      </div>
        
  
      <div class="slide_img" id="three">
        <img src="./../../../assets/img/navbar/estudiantes 1.jpg">	
        
          <label class="prev" for="i2"><span>&#x2039;</span></label>
          <label class="next" for="i4"><span>&#x203a;</span></label>
      </div>
  
      <div class="slide_img" id="four">
        <img src="../../../assets/img/navbar/estudiante.jpg">	
        
          <label class="prev" for="i3"><span>&#x2039;</span></label>
          <label class="next" for="i5"><span>&#x203a;</span></label>
      </div>
  
      <div class="slide_img" id="five">
        <img src="./../../../assets/img/navbar/estudiantes 1.jpg">	
        
          <label class="prev" for="i4"><span>&#x2039;</span></label>
          <label class="next" for="i1"><span>&#x203a;</span></label>
  
      </div>
  
      <div id="nav_slide">
      <label for="i1" class="dots" id="dot1"></label>
      <label for="i2" class="dots" id="dot2"></label>
      <label for="i3" class="dots" id="dot3"></label>
      <label for="i4" class="dots" id="dot4"></label>
      <label for="i5" class="dots" id="dot5"></label>
      </div>
  
  </div>


  <div class="intro">

      <div class="">
          <div class="column50 text">
              <p>
              <span class="sub">LA CAMARA DEL LIBRO</span> Un 25 de marzo del 2008 se llevó a cabo una asamblea general de “La Cámara Departamental del Libro de Cochabamba" conformada por asociados y representantes de instituciones y empresas dedicadas a la producción de libros, revistas y cualquier producción bibliográfica legal.
              </p>
              <br>
              <p>
              Dicha reunión tuvo la finalidad de apoyar, promover e impulsar el desarrollo de las actividades relacionadas con la producción de todo tipo de material complementario al libro en cualquier formato y cualquier tipo de publicación bibliográfica en el departamento.... <a href="">+ ver mas detalle</a>
              </p>
          </div>
          <div class="column50 imagen">
              <img src="../../../assets/img/inicio/directores.jpg" alt="intro-IMG">
          </div>
      </div>

  </div>

    <div class="amigos">
        <span class="title">
            <span class="resaltado">NUESTROS</span>
            AMIGOS
        </span>

        <div class="containr">
            <div class="item red">
                <a href="https://www.mintrabajo.gob.bo/">
                    <img src="../../../assets/img/inicio/A-gobierno.jpg"/>
                    <i class="fa-solid fa-building-ngo"></i>
                </a>
            </div>

            <div class="item blue">
                <a href="https://ovt.mintrabajo.gob.bo/#/loginRoe">
                    <img src="../../../assets/img/inicio/A-ministerio.jpg"/>
                    <i class="fa-solid fa-briefcase"></i>
                </a>
           </div>

            <div class="item green">
                <a href="https://www.senapi.gob.bo/">
                    <img src="../../../assets/img/inicio/A-senapi.jpg"/>
                    <i class="fa-solid fa-brain"></i>
                </a>
            </div>
        </div>
    </div>
</div>
