<div class="container">
  
  <div class="phone">
    <p class="izquierda">¡Hola!
      <a [routerLink]="['login']" class="enlaceYellow">Inicia sesión</a>
      o
      <a [routerLink]="['registrar']" class="enlaceYellow">Regístrate</a>
    </p>
    <p class="derecha">¿Cómo vender?</p>
  </div>

    <div class="logos">
      <div class="logoFILC">
        <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
      </div>
      <div class="logoCam">
        <!-- <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc"> -->
        <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
      </div>
    </div>

    


    <header class="navbar">

      
      <nav  [ngClass]="{ 'alerta visible': propiedades.visible, ' invisible': !propiedades.visible }">

        
      <button class="user" type="button" (click)="irAlPerfil()"> <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120 copia.jpg" alt="perfil"> </button>

      <a [routerLink]="['index']" routerLinkActive="active" >Inicio 
        <i class="fa-solid fa-house iconos-Nav" ></i> </a>
      <a [routerLink]="['nosotros']" routerLinkActive="active" >Nosotros 
        <i class=" iconos-Nav fa-solid fa-star"></i></a>
      <a [routerLink]="['libros']" routerLinkActive="active" >Libros 
        <i class=" iconos-Nav fa-solid fa-book"></i></a>
      <a [routerLink]="['editoriales']" routerLinkActive="active" >Editoriales 
        <i class=" iconos-Nav fa-regular fa-newspaper"></i></a>
      <a [routerLink]="['eventos']" routerLinkActive="active" >Eventos 
        <i class=" iconos-Nav fa-regular fa-calendar-minus"></i></a>
      <a [routerLink]="['asociados']" routerLinkActive="active" >Asociados 
        <i class=" iconos-Nav fa-solid fa-users"></i></a>
      <a [routerLink]="['comunicados']" routerLinkActive="active">Comunicados 
        <i class=" iconos-Nav fa-solid fa-bullhorn"></i></a>
      <a [routerLink]="['contacto']" routerLinkActive="active" >Contacto 
        <i class=" iconos-Nav fa-solid fa-envelope"></i></a>

        <div class="iconos-Nav">
          <br><br><br><br>
          <p class="sub-nav">Cámara Departamental del Libro de Cochabamba</p>
        </div>
      </nav>
      <!-- routerLink="/dashboard/usuario" -->
    </header>


    

    <div class="hamburguesa">
      <button class="hamb hamb-M" (click)="propiedades.visible = !propiedades.visible">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

</div>

