

/*NAV BAR*/
/*phone*/
.phone{
  background-color: #474747;
  color: #fff;
  padding: 7px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.izquierda{
  text-align: left;
  width: 30%;
  margin-left: 1%;
  float: left;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.enlaceYellow{
  color: #FFF173;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-left: 3px;
}
/*phone*/


/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logos{
  height: 155px;
  width: 27%;
  float: left;
}
.logoCam {
  width: 30%;
  float: left;
  padding-top: 15px;
}
.logoFILC{
  float: left;
	width: 55%;
  padding: 40px 10px 10px 20px;
  margin-right: 20px;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/



/*-------------------NAV BAR INICIO-----------------------*/
/*--------------------------------------------------------*/

.navbar{
  width: 70%;
  float: right;
  margin-top: 3%;
}

nav{
  text-align: right;
  margin-right: 0px;
  float: right;
  padding-top: 20px;
}

nav a{
  padding: 10px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.active{
  font-weight: bolder;
  color: #439F41;
  border-radius: 15px;
  background-color: #439f414b;
  text-decoration: underline;  
}

nav a:hover {
	font-weight: bold;
  color: #439F41;
}
/*-------------------NAV BAR FIN-----------------------*/
/*-----------------------------------------------------*/



/*================= HAMBURGUESA ====================*/
/*==================================================*/
.hamb, .iconos-Nav{
  display: none;
}


/*================= USER ====================*/
/*==================================================*/

.user{
  width: 8%;
  margin: -25px 5px 0px 10px;
  float: right;
  padding: 3px 6px 3px 15px;
  border: none;
  background-color: transparent;
  border-left: 3px solid #C0C0C0;
}
.user img{
  border-radius: 100%;
  width: 100%;
}





/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */



/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .logos{
    height: 110px;
    width: 25%;
    float: left;
  }
.izquierda{
  font-size: 12px;
}
.derecha{
  font-size: 13px;
}

.logoCam {
  width: 28%;
}
.logoFILC{
	width: 50%;
  padding: 30px 8px 5px 0px;
  margin-right: 20px;
}

.logoFILC img{
	margin-left: 15px;
}


.navbar{
  width: 75%;
  margin-top: 2.5%;
}

nav{
  padding-top: 15px;
}

nav a{
  padding: 7px;
  font-size: 12px;
}

.user{
  width: 8%;
  margin: -14px 5px 0px 10px;
  padding: 7px 6px 3px 15px;
  border: none;
  background-color: transparent;
  border-left: 3px solid #C0C0C0;
}
.user img{
  border-radius: 100%;
  width: 100%;
}




}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

	.phone{
    padding: 10px;
    font-size: 12px;
  }
  
  .izquierda{
    font-size: 11px;
  }
  
  .logoCam {
    width: 28%;
    padding-top: 10px;
  }

  .logos{
  height: 75px;
  width: 21%;
  }
  .logoFILC{
    width: 45%;
    padding: 22px 0px 5px 0px;
    margin-right: 30px;
  }
  
  .logoFILC img{
    margin-left: 10px;
  }
  

  .navbar{
    width: 79%;
    margin-top: 1.5%;
  }
  
  nav{
    padding-top: 15px;
  }
  
  nav a{
    padding: 5px;
    font-size: 9px;
  }
  
  .user{
    width: 8%;
    margin: -14px 5px 0px 10px;
    padding: 7px 3px 3px 7px;
    border-radius: 3px solid;
  }




}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .container{
    margin-bottom: 0%;
  }

  .logos{ width: 50%; height: 80px; }
  .logoCam {
    width: 17%;
    float: left;
    margin-top: 7px;
    padding-top: 0px;
    padding-bottom: 7px;
  }
  .logoFILC{
    float: left;
    width: 32%;
    margin-top: 22px;
    padding: 0px 10px 10px 10px;
    margin-right: 30px;
  }

  .logoCam img{
    width: 100%;
  }
  .logoFILC img{
    width: 100%;
    margin-left: 15px;
  }

  /*phone*/
.phone{
  background-color: #474747;
  color: #fff;
  padding: 5px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.derecha{
  margin-right: 15px;
}

.izquierda{
  text-align: left;
  width: 40%;
  margin-left: 5%;
  float: left;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
/*phone*/
 

.hamb{
  display: block;
  color: #439F41;
  font-weight: 100;
  border: none;
  background-color: transparent;
  font-size: 22px;
  position: fixed;
  z-index: 600;
  top: 50px;
  right: 20px;
}

.iconos-Nav{
  display: block;
  color: #979696;
}

.navbar{
  width: 45%;
  float: right;
  height: 1000px;
  margin-top: 0%;
  position: fixed;
  z-index: 500;
}

nav{
  background-color: #fff;
  border-right: none;
  text-align: left;
  margin-right: 0px;
  position: fixed;
  width: 40%;
  top: 0%;
  height: 1000px;
  right: 0px;
  padding: 30px 0px 0px 0px;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

nav a{
  padding: 8px 20px 8px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
  display: flex;
  text-transform: capitalize;
  width: 70%;
  margin: 2px auto;
  border-radius: 10px;
  flex-direction: column;
  text-decoration: none;
}

.navbar nav a i{
  width: 20px;
  margin-top: -15px;margin-left: 165px;
  float: right;
}
.sub-nav{
  padding: 12px 20px 12px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #636363;
}

.invisible{
/* COMENTAR PARA QUE SE MUESTRE EL SIDE BAR */
  transform: translate(100%);
  display: none;
}
.visible{
  transform: translateX(0) !important;
}

.advertencia {
  background-color: orange;
}

.error {
 background-color: #ff00009f;
}

a:hover{
  font-weight: bold;
  background-color: #d9f3de;
}

.active {
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #d9f3de;
}




/*================= USER ====================*/
/*==================================================*/
.user{
width: 45%;
margin: 0px 80px 30px 10px;
float: right;
border: none;
}

}

/* Teléfonos */
@media only screen and (min-width: 490px) and (max-width: 575px){

  .container{
    margin-bottom: 10%;
  }
  .logos{
    width: 50%;
    /* background-color: #439F41; */
    height: 90px;
  }

  .logoCam {
    width: 25%;
    margin-top: 5px;
    padding-top: 5px;
  }
  .logoFILC{
    width: 45%;
    margin-top: 30px;
    padding: 0px 7px 10px 0px;
    margin-right: 30px;
  }
  
  .logoCam img{
    width: 100%;
  }
  .logoFILC img{
    width: 100%;
    margin-left: 15px;
  }

  /*phone*/
.phone{
  padding: 10px;
}

.derecha{
  margin-right: 35px;
  font-size: 12px;
}

.izquierda{
  width: 50%;
  margin-left: 3%;
  font-size: 11px;
}
/*phone*/


  .hamb{
    display: block;
    color: #439F41;
    font-weight: 100;
    border: none;
    background-color: transparent;
    font-size: 22px;
    position: fixed;
    z-index: 600;
    top: 4px;
    right: 0px;
  }
  
  .iconos-Nav{
    display: block;
    color: #979696;
  }

  .navbar{
    width: 45%;
    float: right;
    height: 1000px;
    margin-top: 0%;
    position: fixed;
    z-index: 500;
  }
  
  nav{
    background-color: #fff;
    border-right: none;
    text-align: left;
    margin-right: 0px;
    position: fixed;
    width: 40%;
    top: 0%;
    height: 1000px;
    right: 0px;
    padding: 30px 0px 0px 0px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  nav a{
    padding: 8px 20px 8px 18px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    display: flex;
    text-transform: capitalize;
    width: 70%;
    margin: 2px auto;
    border-radius: 10px;
    flex-direction: column;
    text-decoration: none;
  }

  .navbar nav a i{
    width: 20px;
    margin-top: -15px;margin-left: 130px;
    float: right;
  }
  .sub-nav{
    padding: 12px 20px 12px 18px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #636363;
  }

.invisible{
  /* COMENTAR PARA QUE SE MUESTRE EL SIDE BAR */
    transform: translate(100%);
    display: none;
  }
.visible{
    transform: translateX(0) !important;
  }
  
  .advertencia {
    background-color: orange;
 }
 
 .error {
   background-color: #ff00009f;
 }
 
  a:hover{
    font-weight: bold;
    background-color: #d9f3de;
  }
  
  .active {
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #d9f3de;
  }

/*================= USER ====================*/
/*==================================================*/
.user{
  width: 45%;
  margin: 0px 50px 30px 10px;
  float: right;
  border: none;
  }

}

/* Teléfonos thin */
@media only screen and (min-width: 350px) and (max-width: 489px){

  .container{
    margin-bottom: 10%;
  }
  .logos{
    width: 45%;
    height: 60px;
  }

  .logoCam {
    width: 25%;
    margin-top: 5px;
    padding-top: 0px;
  }
  .logoFILC{
    width: 45%;
    margin-top: 15px;
    padding: 0px 5px 10px 0px;
    margin-right: 30px;
  }
  
  .logoCam img{
    width: 100%;
  }
  .logoFILC img{
    width: 100%;
    margin-left: 15px;
  }

  /*phone*/
.phone{
  padding: 10px;
}

.derecha{
  margin-right: 35px;
  font-size: 11px;
}

.izquierda{
  width: 50%;
  margin-left: 3%;
  font-size: 9px;
}
/*phone*/
  


.hamb{
  display: block;
  color: #439F41;
  font-weight: 100;
  border: none;
  background-color: transparent;
  font-size: 22px;
  position: fixed;
  z-index: 500;
  top: 4px;
  right: 0px;
}

.iconos-Nav{
  display: block;
  color: #979696;
}

.navbar{
  width: 55%;
  float: right;
  height: 1000px;
  margin-top: 0%;
  position: fixed;
  z-index: 500;
}

nav{
  background-color: #fff;
  border-right: none;
  text-align: left;
  margin-right: 0px;
  position: fixed;
  width: 50%;
  top: 0%;
  height: 900px;
  right: 0px;
  padding: 30px 0px 0px 0px;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

nav a{
  padding: 8px 20px 8px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
  display: flex;
  text-transform: capitalize;
  width: 70%;
  margin: 2px auto;
  border-radius: 10px;
  flex-direction: column;
  text-decoration: none;
}

.navbar nav a i{
  width: 20px;
  margin-top: -15px;margin-left: 130px;
  float: right;
}
.sub-nav{
  padding: 12px 20px 12px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #636363;
}

.invisible{
/* COMENTAR PARA QUE SE MUESTRE EL SIDE BAR */
  transform: translate(100%);
  display: none;
}
.visible{
  transform: translateX(0) !important;
}

.advertencia {
  background-color: orange;
}

.error {
 background-color: #ff00009f;
}

a:hover{
  font-weight: bold;
  background-color: #d9f3de;
}

.active {
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #d9f3de;
}




/*================= USER ====================*/
/*==================================================*/

.user{
width: 45%;
margin: 0px 55px 30px 10px;
float: right;
border: none;
}

}

/* Teléfonos thin */
@media only screen and (min-width: 320px) and (max-width: 349px){

  .container{
    margin-bottom: 10%;
  }
  .logos{
    width: 45%;
    height: 60px;
  }

  .logoCam {
    width: 25%;
    margin-top: 5px;
    padding-top: 0px;
  }
  .logoFILC{
    width: 45%;
    margin-top: 15px;
    padding: 0px 5px 10px 0px;
    margin-right: 30px;
  }
  
  .logoCam img{
    width: 100%;
  }
  .logoFILC img{
    width: 100%;
    margin-left: 15px;
  }

  /*phone*/
.phone{
  padding: 10px;
}

.derecha{
  margin-right: 25px;
  font-size: 10px;
}

.izquierda{
  width: 60%;
  margin-left: -1%;
  font-size: 9px;
}
/*phone*/
  


.hamb{
  display: block;
  color: #439F41;
  font-weight: 100;
  border: none;
  background-color: transparent;
  font-size: 22px;
  position: fixed;
  z-index: 600;
  top: 4px;
  right: 0px;
}

.iconos-Nav{
  display: block;
  color: #979696;
}

.navbar{
  width: 80%;
  float: right;
  height: 1000px;
  margin-top: 0%;
  position: fixed;
  z-index: 500;
}

nav{
  background-color: #fff;
  border-right: none;
  text-align: left;
  margin-right: 0px;
  position: fixed;
  width: 60%;
  top: 0%;
  height: 1000px;
  right: 0px;
  padding: 30px 0px 0px 0px;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

nav a{
  padding: 8px 20px 8px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
  display: flex;
  text-transform: capitalize;
  width: 70%;
  margin: 2px auto;
  border-radius: 10px;
  flex-direction: column;
  text-decoration: none;
}

.navbar nav a i{
  width: 20px;
  margin-top: -15px;margin-left: 130px;
  float: right;
}
.sub-nav{
  padding: 12px 20px 12px 18px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #636363;
}

.invisible{
/* COMENTAR PARA QUE SE MUESTRE EL SIDE BAR */
  transform: translate(100%);
  display: none;
}
.visible{
  transform: translateX(0) !important;
}

.advertencia {
  background-color: orange;
}

.error {
 background-color: #ff00009f;
}

a:hover{
  font-weight: bold;
  background-color: #d9f3de;
}

.active {
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #d9f3de;
}




/*================= USER ====================*/
/*==================================================*/

.user{
width: 45%;
margin: 0px 55px 30px 10px;
float: right;
border: none;
}

}