

<div class="container">

  
  <div class="contenido-img">

    <div class="contenidoBuscar">
        <div class="buscador">
          <input
          type="text"
          placeholder="Buscar..."
          id="search"
          #buscarTexto
          (keyup.enter) = 'buscarLibro(buscarTexto.value)'
          class="buscar"
          >
        </div>

        <div class="buscadorverde">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="slide_img" id="one">			
      
      <img src="./../../../assets/img/navbar/invitacion-01.jpg">
      <div class="encab">
          <p class="encabezado">"LA ESCRITURA ES LA</p>
          <p class="encabezado encabezadoverde">PINTURA DE LA VOZ"</p>
      </div>

    </div>

</div>


  <div class="libro-contenido">
    <div class="titulo">
      {{ readData.titulo }}
    </div>
    <hr>
    <div class="autor">
      {{ readData.autor_nombre }} {{ readData.autor_apellido }}
    </div>

    <div class="cien">

      <div class="img-50">
        <img [src]="readData.imagen1 + readData.tipo1" alt="">
      </div>
      <div class="datos-50">
        <div class="precio">
          <p>Precio</p>
          <p class="money">Bs {{ readData.precio }}</p>
        </div>

        <br>
        <div class="contacto">
          <p>Contacatarse con el vendedor</p>
          <br>
          <h2>{{ vendedor.nombre }}</h2>
        </div>

        <br><br>

        <div class="datos-vendedor">
          <ul>
            <li class="direccion">
              <i class="fa-solid fa-circle"></i>{{ this.vendedor.direccion }}
            </li>
            <li class="telefono" *ngIf="readData.telefono1 == null">
              <i class="fa-solid fa-circle"></i>{{ readData.telefono1 }}
            </li>
            <li class="celular">
              <i class="fa-solid fa-circle"></i>{{ this.vendedor.telefono1 }}
              <a href="#">Envianos un mensaje</a>
            </li>
            <li class="correo">
              <i class="fa-solid fa-circle"></i>{{ this.vendedor.correo1 }}
            </li>
            <li class="pagina">
              <i class="fa-solid fa-circle"></i>{{ this.vendedor.pagina }}
            </li>
          </ul>
        </div>

        <br><br><br><br>
        <div class="descripcion">
          {{ readData.descripcion }}
        </div>
        <br><br>
        <div class="publico">
          Público: {{ readData.edad_publico }}
        </div>
      </div>
    </div>
  </div>

</div>