

.container{
  margin-top: 11%;
  width: 100%;
}

/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 30%;
}

.buscar{
  padding: 15px;
  position: absolute;
  z-index: 100;
  margin-top: 33px;
  background-color: #EEEEEE;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 88%;
  font-size: 18px;
  border: none;
}

.buscadorverde{
  background-color: #439F41;
  width: 100%;
  border-radius: 12px;
  z-index: 80;
  height: 38px;
  margin-left: 0 30%;
  text-align: right;
  margin-top: 33px;
  color: #fff;
  font-size: 25px;
  padding-right: 17px;
  padding-top: 13px;
}
/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.container{
  display: flex;
  flex-direction: column;
}

.contenido-img{
  position: relative;
  width: 100%;
  margin-bottom: 35%;
  /* user-select: none; */
}

.contenido-img .slide_img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.contenido-img .slide_img img{
  width: 100%;
}



/* LIBRO */
.libro-contenido{
  width: 80%;
  margin: 0 auto;
}
.titulo{
  font-size: 50px;
  font-family: 'Englebert';
  text-transform: uppercase;
  width: 40%;
  text-align: center;
}
.autor{
  color: #a2a2a2;
  width: 40%;
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
}

.img-50{
  width: 40%;
  margin: 20px 40px 50px 0px;
  float: left;

}
.img-50 img { width: 100%; }

.datos-50{width: 50%; float: left;font-family: 'Montserrat', sans-serif;
margin-top: 20px;}
.datos-50 .precio p{
  padding: 7px;
  font-weight: 600;
  font-size: 20px;
}
.datos-50 .precio .money{
  font-family: 'Jost';
  font-size: 35px;
}

.datos-50 .contacto{
  padding: 7px;
  letter-spacing: 0.2mm;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.datos-50 .datos-vendedor ul{
  list-style: none;
  font-weight: 600;
  padding: 0px;
}

.datos-50 .datos-vendedor ul li{
  margin: 15px;
}
.datos-50 .datos-vendedor ul li i{
  padding-right: 7px;
  font-size: 13px;
}