@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.container{
  margin-top: 9%;
  width: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}



/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 40%;
}

.buscar{
  padding: 19px;
  position: absolute;
  z-index: 100;
  margin-top: 33px;
  background-color: #EEEEEE;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 88%;
  border: none;
}

.buscadorverde{
  background-color: #439F41;
  width: 100%;
  border-radius: 12px;
  z-index: 80;
  height: 46px;
  margin-left: 0 30%;
  text-align: right;
  margin-top: 33px;
  color: #fff;
  font-size: 28px;
  padding-right: 17px;
  padding-top: 8px;
}
/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

.all{
  width: 90%;
  margin: 0 auto;
}

.contenido-img{
  margin-bottom: 33%;
}


/* TITULO */
.titulo{
  width: 30%;
  margin-top: 40px  ;
}

.resaltado{
  color: #FAD64C;
}

.title{
  font-family: 'Englebert';
  letter-spacing: 0.5mm;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1px;
}

.linea{
  background-color: #fbd606;
  width: 97%;
  margin: 0%;
  height: 4px;
}
.linea2{
  background-color: #fbd606;
  width: 45%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 4px;
  margin-bottom: 3%;
}






/* ================== CARD ==================== */
.card{
  width: 20%;
  float: left;
  margin-right: 170px;
  margin-bottom: 4%;
  height: 290px;
  /* background-color: #1A7712; */
}


#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    width: 400px;
    margin: 20px;
}


/* ASOCIADOS */
#name {
  width: 360px;
  margin-left: 18px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
   vertical-align: middle;
}
.perfil {
  width: 28%;
  margin-top: 7%;
  margin-left: 35%;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  background-color: #000;
}
.perfil img{
  width: 100%;
}


.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 14px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
    background-size: cover;
    background-position-y: center;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    /* border: 5px solid #fff; */
    box-shadow: #0d0d0d75 0px 4px 10px;
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  height: 250px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #000;
  height: 250px;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
	float: left;
	/* background-color: #1A7712; */
	border-right: 2px solid black;
	margin-top: 25px;
	height: 200px;
}
.columnaizq p{
	text-align: center;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	float: left;
	border-radius: 100%;
	padding: 3px;
	border: 4px solid #fff;
	background-color: #000;
	margin: 25px;
	outline: 4px solid #000;
}
.foto p{
	margin-left: 10px;
	margin-right: 10px;
}
.foto .borde{
	padding: 10px;
	background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 14px;
	margin-bottom: 5px;
	color: #949494;
	font-family: 'Montserrat', sans-serif;
}
.columnader small {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
.columnader{
	text-align: center;
	margin-top: 40px;
}
ul{
	margin-top: 40px;
	text-align: left;
}
li {
  color: #000;
  font-size: 13px;
	margin-left: -25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

.sub{
  font-weight: 500;
  font-size: 17x;
  color: #000;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}
ul li{ list-style: none; }
a{ cursor: pointer;
  color: #000;
  text-decoration: none; }

  a:hover {
  text-decoration: underline;
}


#card-container {
  /* padding-top: 25px; */
  width: 30%;
  height: 270px;
  /* margin: auto; */
  /* display: inline-block; */
    /* text-align: justify; */
}   

#card-container:hover .back {   
    -webkit-transform: rotateY(0deg);
}

#card-container:hover .front {      
    -webkit-transform: rotateY(-180deg);
}


/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 0px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 12px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
}








/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1440px){
	.contenidoBuscar{
		width: 40%;
		position: absolute;
		z-index: 100;
		margin-top: 1%;
		margin: 0 40%;
	}
	
	.buscar{
		padding: 20px;
		width: 85%;
		border: none;
	}
	
	.buscadorverde{
		padding-right: 21px;
		padding-top: 10px;
	}

	.titulo{
		width: 28%;
		margin-top: 30px;
	}
	
	}
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){

		.card{
			margin-right: 275px;
		}

		.D-C-san-andres{
			width: 22%;
			margin-right: 250px;
		}

		.contenidoBuscar{
			width: 40%;
			position: absolute;
			z-index: 100;
			margin-top: 1%;
			margin: 0 40%;
		}
		
		.buscar{
			padding: 12px;
			width: 85%;
			border: none;
		}
		
		.buscadorverde{
			padding-right: 12px;
			padding-top: 7px;
			height: 33px;
		}
	
		.encabezado{
			font-size: 38px;
		}
	
		
		.prev, .next{
			margin-top: 140px;
		}
		.next{right:40px;}


		

/* TITULO */
.titulo{
  width: 40%;
  margin-top: 30px;
}

.title{
  letter-spacing: 0.2mm;
  font-size: 35px;
  margin-bottom: 0px;
}

.linea{
  width: 80%;
  height: 3px;
}
.linea2{
  width: 40%;
  height: 3px;
}




	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){

		.contenidoBuscar{
			width: 40%;
			position: absolute;
			z-index: 100;
			margin-top: 0%;
			margin: 0 30%;
		}
		
		.buscar{
			padding: 9px;
			width: 80%;
			border: none;
			margin-top: 3%;
		}
		
		.buscadorverde{
			padding-right: 18px;
			padding-top: 5px;
			height: 28px;
			font-size: 22px;
			margin-top: 3%;
		}
	
		.prev, .next{
			margin-top: 90px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 28px;
		}




/* ================== CARD ==================== */
.card{
  width: 45%;/*SE REDUJO - 20 */
  float: left;
	/* background-color: #fbd606; */
	/* se aumento el margin-right - 170 */
  margin-right: 30px;
  margin-bottom: 0%;
  height: 250px;
  /* background-color: #1A7712; */
}


#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    /* se redujo - 400 */
		width: 300px;
    margin: 10px;
		/* border: 2px solid #fba906; */
}


/* ASOCIADOS */
#name {
  width: 300px;
	/* background-color: #1A7712; */
	text-transform: uppercase;
  margin-left: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
   vertical-align: middle;
}
.perfil {
  width: 28%;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  background-color: #000;
}
.perfil img{
  width: 100%;
}


.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 14px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
    background-size: cover;
    background-position-y: center;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    /* border: 5px solid #fff; */
    box-shadow: #0d0d0d75 0px 4px 10px;
  background-color: #FFF;
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #000;
  height: 200px;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
	float: left;
	/* background-color: #1A7712; */
	border-right: 2px solid black;
	margin-top: 0px;
	height: 200px;
}
.columnaizq p{
	text-align: center;
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	margin-right: 0px;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	float: none;
	border-radius: 100%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	margin: 15px;
	outline: 3px solid #000;
}

.foto .borde{
	padding: 10px;
	background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 12px;
	margin-bottom: 4px;
}
.columnader small {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 30px;
}
li {
  font-size: 11px;
	margin-left: -25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 0px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 10px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}






/* TITULO */
.titulo{
  width: 50%;
  margin-top: 15px  ;
}

.title{
  letter-spacing: 0.2mm;
  font-size: 30px;
  margin-bottom: 0px;
}

.linea{
  width: 72%;
  height: 3px;
}
.linea2{
  width: 30%;
  height: 3px;
}



	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){
		.contenidoBuscar{
			width: 60%;
			margin: 1% 15%;
		}
	
		.buscar{
			padding: 7px;
			width: 80%;
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
			border: none;
			margin-top: 3%;
		}
		
		.buscadorverde{
			padding-right: 18px;
			padding-top: 5px;
			height: 25px;
			font-size: 22px;
			margin-top: 3%;
		}
	
		.prev, .next{
			margin-top: 70px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 22px;
			margin-left: 15%;
		}


		

/* ================== CARD ==================== */
.card{
  width: 40%;/*SE REDUJO - 20 */
  float: left;
	/* background-color: #fbd606; */
	/* se aumento el margin-right - 170 */
  margin-right: 60px;
  margin-bottom: 0%;
  height: 250px;
  /* background-color: #1A7712; */
}


#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    /* se redujo - 400 */
		width: 280px;
    margin: 10px;
		/* border: 2px solid #fba906; */
}


/* ASOCIADOS */
#name {
  width: 280px;
	/* background-color: #1A7712; */
	text-transform: uppercase;
  margin-left: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
   vertical-align: middle;
}
.perfil {
  width: 28%;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  background-color: #000;
}
.perfil img{
  width: 100%;
}


.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 14px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
    background-size: cover;
    background-position-y: center;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    /* border: 5px solid #fff; */
    box-shadow: #0d0d0d75 0px 4px 10px;
  background-color: #FFF;
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #000;
  height: 200px;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
	float: left;
	/* background-color: #1A7712; */
	border-right: 2px solid black;
	margin-top: 0px;
	height: 200px;
}
.columnaizq p{
	text-align: center;
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	margin-right: 0px;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	float: none;
	border-radius: 100%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	margin: 15px;
	outline: 3px solid #000;
}

.foto .borde{
	padding: 10px;
	background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 12px;
	margin-bottom: 4px;
}
.columnader small {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 30px;
}
li {
  font-size: 10px;
	margin-left: -25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 20px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 9px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}





/* TITULO */
.titulo{
  width: 50%;
  margin-top: 15px  ;
}

.title{
  letter-spacing: 0.2mm;
  font-size: 27px;
  margin-bottom: 0px;
}

.linea{
  width: 71%;
  height: 3px;
}
.linea2{
  width: 35%;
  height: 3px;
}







	}
	
	/* Teléfonos */
	@media only screen and (min-width: 430px) and (max-width: 575px){
	
		.contenidoBuscar{
			width: 40%;
			margin: 1% 52%;
		}
	
		.buscar, .buscadorverde{
			margin-top: -33%;
		}
	
		.buscar{
			padding: 5px 5px 5px 15px;
			width: 70%;
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}
		
		.buscadorverde{
			padding-right: 14px;
			padding-top: 4px;
			height: 22px;
			font-size: 17px;
		}
	
		.prev, .next{
			margin-top: 50px;
		}
		.next{right:40px;}
		label span{
			font-size: 50pt;
		}
	
		.encabezado{
			font-size: 20px;
			margin-left: 15%;
		}
		.encab{
			margin-top: -3%;
		}
		.encabezadoverde{
		padding-top: 7px;
		}
	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
	
	.linea{
		height: 3px;
	}
	.linea2{
		border-top: none;
		height: 3px;
		margin-bottom: 0%;
	}
	



	
		

/* ================== CARD ==================== */
.card{
  width: 40%;/*SE REDUJO - 20 */
  float: left;
	/* background-color: #fbd606; */
	/* se aumento el margin-right - 170 */
  margin-right: 60px;
  margin-bottom: 0%;
  height: 250px;
  /* background-color: #1A7712; */
}


#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    /* se redujo - 400 */
		width: 380px;
    margin: 20px;
		/* border: 2px solid #fba906; */
}


/* ASOCIADOS */
#name {
  width: 380px;
	/* background-color: #1A7712; */
	text-transform: uppercase;
  margin-left: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
   vertical-align: middle;
}
.perfil {
  width: 28%;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  background-color: #000;
}
.perfil img{
  width: 100%;
}


.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 14px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
    background-size: cover;
    background-position-y: center;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    /* border: 5px solid #fff; */
    box-shadow: #0d0d0d75 0px 4px 10px;
  background-color: #FFF;
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #000;
  height: 200px;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
	float: left;
	/* background-color: #1A7712; */
	border-right: 2px solid black;
	margin-top: 0px;
	height: 200px;
}
.columnaizq p{
	text-align: center;
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	margin-right: 0px;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	float: none;
	border-radius: 100%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	margin: 15px;
	outline: 3px solid #000;
}

.foto .borde{
	padding: 10px;
	background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 12px;
	margin-bottom: 4px;
}
.columnader small {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 30px;
}
li {
  font-size: 11px;
	margin-left: -25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 20px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 11px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}


	

/* TITULO */
.titulo{
  width: 50%;
  margin-top: 15px  ;
}

.title{
  letter-spacing: 0.2mm;
  font-size: 21px;
  margin-bottom: 0px;
}

.linea{
  width: 80%;
  height: 3px;
}
.linea2{
  width: 40%;
  height: 3px;
}



	}
	

/* Teléfono  Thin */
@media only screen and (min-width: 370px) and (max-width: 429px){

	.contenidoBuscar{
		width: 40%;
		margin: 1% 52%;
	}

	.buscar, .buscadorverde{
		margin-top: -33%;
	}

	.buscar{
		padding: 5px 5px 5px 15px;
		width: 70%;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
	}
	
	.buscadorverde{
		padding-right: 14px;
		padding-top: 4px;
		height: 22px;
		font-size: 17px;
	}

	.prev, .next{
		margin-top: 50px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

	.encabezado{
		font-size: 20px;
		margin-left: 15%;
	}
	.encab{
		margin-top: -3%;
	}
	.encabezadoverde{
	padding-top: 7px;
	}

#nav_slide .dots{
	width: 12px;
	height: 12px;
}

.linea{
	height: 3px;
}
.linea2{
	border-top: none;
	height: 3px;
	margin-bottom: 10%;
}





	

/* ================== CARD ==================== */
.card{
width: 40%;/*SE REDUJO - 20 */
float: left;
/* background-color: #fbd606; */
/* se aumento el margin-right - 170 */
margin-right: 60px;
margin-bottom: 0%;
height: 250px;
/* background-color: #1A7712; */
}


#cardo {
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000;
	/* se redujo - 400 */
	width: 330px;
	margin: 5px;
	/* border: 2px solid #fba906; */
}


/* ASOCIADOS */
#name {
width: 330px;
/* background-color: #1A7712; */
text-transform: uppercase;
margin-left: 0px;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
line-height: 150%;
color: #fff;
	vertical-align: middle;
}
.perfil {
width: 28%;
margin-top: 5%;
margin-left: 35%;
border-radius: 50%;
border: 3px solid #fff;
padding: 5px;
background-color: #000;
}
.perfil img{
width: 100%;
}


.back, .front {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	width: 100%;
	margin: 0 0%;
	/* height: 150%;*/
	/* font-family: Helvetica, Arial, sans-serif; */
	font-weight: bold;
	/* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
	border-radius: 14px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background-size: cover;
	background-position-y: center;
}

.back {
	-webkit-transform: rotateY(180deg);
	/* border: 5px solid #fff; */
	box-shadow: #0d0d0d75 0px 4px 10px;
background-color: #FFF;
width: 100%;
padding-top: 10px;
height: 200px;
}

.front {
padding: 10px;
padding-top: 0px;
padding-bottom: 25px;
background-color: #000;
height: 200px;
/* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
float: left;
/* background-color: #1A7712; */
border-right: 2px solid black;
margin-top: 0px;
height: 200px;
}
.columnaizq p{
text-align: center;
font-size: 10px;
}
.foto p{
margin-left: 0px;
margin-right: 0px;
}
.columnader{
width: 64%;
float: right;
/* background-color: #FAD64C; */
}

.foto{
width: 35%;
}
.foto img{
width: 55%;
float: none;
border-radius: 100%;
padding: 2px;
border: 3px solid #fff;
background-color: #000;
margin: 15px;
outline: 3px solid #000;
}

.foto .borde{
padding: 10px;
background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
font-size: 12px;
margin-bottom: 4px;
}
.columnader small {
font-size: 12px;
font-family: 'Montserrat', sans-serif;
}
.columnader{
margin-top: 15px;
}
ul{
margin-top: 30px;
padding-left: 30px;
}
li {
font-size: 11px;
margin-left: -25px;
font-weight: 500;
margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
width: 60%;
margin-top: 20px;
float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
font-size: 11px;
}
.D-C-san-andres .back .columnader ul {
padding-left: 20px;
margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
margin-bottom: 5px;
}







/* TITULO */
.titulo{
width: 50%;
margin-top: 15px  ;
}

.title{
letter-spacing: 0.2mm;
font-size: 20px;
margin-bottom: 0px;
}

.linea{
width: 90%;
height: 3px;
}
.linea2{
width: 45%;
height: 3px;
}

}
		
		
/* Teléfono  Thin */
@media only screen and (min-width: 320px) and (max-width: 369px){

	.contenidoBuscar{
		width: 40%;
		margin: 1% 52%;
	}

	.buscar, .buscadorverde{
		margin-top: -33%;
	}

	.buscar{
		padding: 5px 5px 5px 15px;
		width: 70%;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
	}
	
	.buscadorverde{
		padding-right: 14px;
		padding-top: 4px;
		height: 22px;
		font-size: 17px;
	}

	.prev, .next{
		margin-top: 30px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

	.encabezado{
		font-size: 20px;
		margin-left: 15%;
	}
	.encab{
		margin-top: -3%;
	}
	.encabezadoverde{
	padding-top: 7px;
	}

#nav_slide .dots{
	width: 12px;
	height: 12px;
}

.linea{
	height: 3px;
}
.linea2{
	border-top: none;
	height: 3px;
	margin-bottom: 10%;
}





	

/* ================== CARD ==================== */
.card{
width: 40%;/*SE REDUJO - 20 */
float: left;
/* background-color: #fbd606; */
/* se aumento el margin-right - 170 */
margin-right: 60px;
margin-bottom: 0%;
height: 250px;
/* background-color: #1A7712; */
}


#cardo {
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000;
	/* se redujo - 400 */
	width: 260px;
	margin: 5px;
	/* border: 2px solid #fba906; */
}


/* ASOCIADOS */
#name {
width: 260px;
/* background-color: #1A7712; */
text-transform: uppercase;
margin-left: 0px;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
line-height: 150%;
color: #fff;
	vertical-align: middle;
}
.perfil {
width: 28%;
margin-top: 12%;
margin-left: 35%;
border-radius: 50%;
border: 3px solid #fff;
padding: 5px;
background-color: #000;
}
.perfil img{
width: 100%;
}


.back, .front {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	width: 100%;
	margin: 0 0%;
	/* height: 150%;*/
	/* font-family: Helvetica, Arial, sans-serif; */
	font-weight: bold;
	/* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
	border-radius: 14px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background-size: cover;
	background-position-y: center;
}

.back {
	-webkit-transform: rotateY(180deg);
	/* border: 5px solid #fff; */
	box-shadow: #0d0d0d75 0px 4px 10px;
background-color: #FFF;
width: 100%;
padding-top: 10px;
height: 200px;
}

.front {
padding: 10px;
padding-top: 0px;
padding-bottom: 25px;
background-color: #000;
height: 200px;
/* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
float: left;
/* background-color: #1A7712; */
border-right: 2px solid black;
margin-top: 0px;
height: 200px;
}
.columnaizq p{
text-align: center;
font-size: 10px;
}
.foto p{
margin-left: 0px;
margin-right: 0px;
}
.columnader{
width: 64%;
float: right;
/* background-color: #FAD64C; */
}

.foto{
width: 35%;
}
.foto img{
width: 55%;
float: none;
border-radius: 100%;
padding: 2px;
border: 3px solid #fff;
background-color: #000;
margin: 15px;
outline: 3px solid #000;
}

.foto .borde{
padding: 10px;
background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
font-size: 12px;
margin-bottom: 4px;
}
.columnader small {
font-size: 12px;
font-family: 'Montserrat', sans-serif;
}
.columnader{
margin-top: 15px;
}
ul{
margin-top: 30px;
padding-left: 30px;
}
li {
font-size: 10px;
margin-left: -25px;
font-weight: 500;
margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
width: 60%;
margin-top: 20px;
float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
font-size: 9px;
}
.D-C-san-andres .back .columnader ul {
padding-left: 20px;
margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
margin-bottom: 5px;
}

/* TITULO */
.titulo{
width: 60%;
margin-top: 15px  ;
}

.title{
letter-spacing: 0.2mm;
font-size: 18px;
margin-bottom: 0px;
}

.linea{
width: 92%;
height: 3px;
}
.linea2{
width: 45%;
height: 3px;
}



}