.container{
  width: 100%;
  margin-top: 5%;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  height: 800px;
}

.centro{
  width: 80%;
  margin: 0 10%;
}

.titulo button{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  border: none;
  background-color: #b4bdb3;
  font-weight: bolder;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
}

.titulo button:hover{
  background-color: #d1e5c7;
}

.subtitulo{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

/* TABLA */
/* TABLA */
/* TABLA */
/* TABLA */

table{
  /* background-color: ; */
  width: 100%;
}
th{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: 0.2px solid #009118;
  padding: 10px;
  /* background-color: #fff; */
}
td {
  text-align: center;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 0.1px solid #17a701;
  /* background-color: #fff; */
}

td i{
  color: #188707;
  padding: 10px;
  font-size: 20px;
}

.informacion .imagen{ width: 15%; padding: 15px; }
.informacion .imagen img{ width: 100%; }

.resaltado{
  color: #FAD64C;
}

.precio { font-size: 15px;}



/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */


.Pues_el_formulario{
  position: absolute;
  z-index: 2000;
  height: 1000px;
  width: 100%;
  top: 10%;
}


.form_wrap{
  height: 720px;
  margin: 0px auto;
  display: flex;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  padding: 30px;
  width: 50%;
  /* mantenerlo blanco */
  background-color: #ffffff;
}

form{width: 100%;}

.danger {
  /* Por defecto tiene este */
  background-color: #00000090;
}

.err {
  /* COMENTAR ESTO PARA QUE SE MUESTRE EL FORMULARIO */
  visibility: hidden;
}

form .row .lbl{
  text-align: center;
  font-size: 22px;}
form .row input, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}
form .row{
  text-align: center;
}
