

<div class="nav">

  <nav>
    <p>Cámara del libro (ADMINISTRADOR)</p>
    <br>
    <a [routerLink]="['/admin/addEvent']" routerLinkActive="active" >Eventos</a>
    <a [routerLink]="['/admin/addComunicado']" routerLinkActive="active" >Comunicados</a>
  </nav>

</div>
