.nav{
  position: absolute;
  z-index: 1100;
  /* border: 10px solid red; */
  height: 110px;
  width: 100%;
  top: 0px;
  background-color: #2e332e;
}

nav{
  padding: 30px 50px 0px 50px;
  text-align: right;
}
nav a,p{
  color: rgb(6, 34, 2);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 20px;
}

nav a{
  margin-top: -15px;
}

nav p{
  float: left;
}

nav a:hover{
  background-color: #414d41;
}

.active{
  background-color: #6e7b6e;
}