.back-gray{
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 500;
  height: 500px;
  top: 0%;
  width: 100%;
}

.nav{
  height: 120px;
  background-color: #ececec;
  position: fixed;
  z-index: 2000;
}

.contenido-form{
  width: 80%;
  margin: 0 10%;
}

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 6.5%;
  float: left;
  padding-top: 7px;
}
.logoFILC{
  float: left;
	width: 14%;
  padding: 20px 5px 5px 10px;
  margin-right: 50px;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
	margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/

.derecha{
  float: right;
  margin: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.enlace{
  color: #1A7712;font-weight: 800;margin-left: 10px;
}


.form{
  position: absolute;
  z-index: 500;
  background-color: #fcf8cc;
  width: 45%;
  margin: 0 27%;
  padding: 20px;
  border-radius: 30px;
  margin-top: 150px;
}

form .titulo p{
  font-family: 'Englebert';
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 8px;
  text-align: center;
}


.txtbox{
  width: 86%;
  border-radius: 0px 15px 15px 0px;
  padding: 14px 15px 10px 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 14px;
}

.yellow{
  background-color: #FFF173;
  padding: 13px 10px 10px 10px;
  border-radius: 15px 0px 0px 15px;
}
.yellow i{
  color: #fff;
  font-size: 22px;
}

.btn{
  width: 80%;
  margin: 0 10%;
  background-color: #F8CD29;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
  border: none;
  font-family: 'Englebert';
  font-size: 25px;
}

.linea{
  margin-bottom: 20%;
  padding-top: 480px;
  position: absolute;
  width: 100%;
  z-index: 400;
}

.linea p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
} /* */








/* VALIDACIONES */

.btn-invalid{
  background-color: #647360;
  color: #dddddd;
  font-weight: 800;
}







.checkbox{padding-left: 100px;}
.checkbox input{
  width: 10%;
  float: left;
}
.checkbox label{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/* SNACKBAR */
.error {
  position: absolute;
  z-index: 800;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  width: 20%;
  margin: 0 39%;
  top: 9%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}

































.loader {
  position: absolute;
  z-index: 900;
  display: block;
  height: 120%;
  width: 100%;
  min-height: 250px;
  float: left;
  border: 2px solid #fff;
  background-color: #f0f0f1c3;
  overflow: hidden;
  margin: -2% 0%;
}

/* loader-41 */
.loader-41 .loader-container {
  position: absolute;
  top: 35%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(235,235,236);
  border-radius: 50%;
}
.loader-41 .loader-container::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; height: 200px;
  border-top: 7px solid #1A7712;
  border-radius: 50%;
  animation: spin41 1.8s infinite ease-in-out;
}
  .loader-41 p {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1A7712;
  }
  .loader-41 p.loader-title {
    color: transparent;
    z-index: 3;
  }
  .loader-41 p.loader-title-double {
    color: #1A7712;
    z-index: 1;
    animation: loader41 2.5s 1s infinite ease-out;
  }      

@keyframes spin41 {
  0%   { transform: translate(-50%, -50%) rotate(0deg);}
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes loader41 {
  0%  { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0.6; }
  38% { opacity: 1; }
  50% { opacity: 0.5; }
  60% { opacity: 1; }
  70% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* loader-43 */
.loader-43 {
  background-color: rgb(240,240,241);
}
  .loader-43 .loader-holder {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1, 1) translateZ(0);
    width: 200px; height: 200px;
    border: 3px solid rgb(240,240,241);
    border-radius: 50%;
    overflow: hidden;
  }
  .loader-43 .loader-holder::before {
    position: absolute;
    content: "";
    display: block;
    bottom: 0; left: 50%;
    transform: translate(-50%, 104%);
    width: 370px; height: 200px;
    border-radius: 50%;
    background-color: #ef4361;
    animation: moveBefore43 5s forwards linear;
    z-index: 1;
  }
    .loader-43 .loader-container {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) scale(1, 1) translateZ(0);
      width: 200px; height: 200px;
      border-radius: 50%;
      border-top: 5px solid rgb(240,240,241);
      overflow: hidden;
      animation: spin43 2s infinite linear;
      z-index: 2;
    }

    .loader-43 p {
      position: absolute;
      top: 50%; left: 50%;
      font-size: 35px;
      font-weight: 900;
      color: #ef4361;
      z-index: 2;
      transform: translate(-50%, -50%);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(240,240,241);
    }
@keyframes moveBefore43 {
  0%   { transform: translate(-50%, 104%); }
  80%  { transform: translate(-50%, 50%); }
  100% { transform: translate(-50%, 0%); }
}
@keyframes spin43 {
  0%   { transform: translate(-50%, -50%) scale(1, 1) translateZ(0) rotate(0deg); }
  100% { transform: translate(-50%, -50%) scale(1, 1) translateZ(0) rotate(360deg)}
}

/* loader-44 */
.loader-44 {
  background-color: rgb(240,240,241);
}
  .loader-44 .loader-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 200px;
    border-radius: 50%;
    border-top: 5px solid #ef4361;
    border-right: 5px solid #ef4361;
    animation: spin44 3s infinite ease-out;
    z-index: 2;
  }
    .loader-44 .loader-numbers {
      position: absolute;
      top: 50%; left: 50%;
      font-size: 45px;
      font-weight: 700;
      color: #ef4361;
      z-index: 2;
      transform: translate(-50%, -50%);
    }

@keyframes spin44 {
  0%   { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg)}
}

/* loader-46 */
.loader-46 .loader-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
    .loader-46 p {
      position: relative;
      font-size: 56px;
      font-weight: 900;
      line-height: 50px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ef4361;
      animation: loader 3.5s 1s infinite ease-out;
    }
    /* stroked title */
   .loader-46  p.loader-title {
      color: transparent;
      z-index: 3;
    }
    /* colored title */
    .loader-46 p.loader-title-double {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      color: #ef4361;
      z-index: 1;
    }      
    .loader-46 .loader-overlay {
      position: absolute;
      top: 0%; left: 0%;
      width: 100%; height: 100%;
      z-index: 2;
      background-color: rgb(240,240,241);
      animation: overlay 3.5s 1s infinite ease-out;
    }

/* moving overlay */
@keyframes overlay {
  0%   { top: 0%; }
  70%  { top: -100%; visibility: hidden; }
  100% { top: -100%; visibility: hidden; }
}
/* title flicking */
@keyframes loader {
  0%  { opacity: 1; }
  75% { opacity: 1; }
  80% { opacity: 0.6; }
  85% { opacity: 1; }
  90% { opacity: 0.5; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}
    











/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */



/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.nav{
height: 90px;
}

.form{
  margin-top: 100px;
}
form .titulo p{
  font-size: 25px;
  margin-top: 0px;
}

.txtbox{
  background-color: #fff;
  width: 80%;
  padding: 13px 10px 11px 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }

.derecha{
float: right;
margin: 33px;
font-size: 14px;
font-weight: 700;
}


.linea{
  padding-top: 460px;
}

/* SNACKBAR */
.error {
  font-weight: 300;
  font-size: 19px;
  width: 25%;
  margin: 0 36%;
  top: 9%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 12px;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  
.nav{
  height: 80px;
  }
  
  .form{
    margin-top: 90px;
  }
  form .titulo p{
    font-size: 20px;
    margin-top: 0px;
  }
  
  .txtbox{
    background-color: #fff;
    width: 75%;
    padding: 13px 10px 11px 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }
  
  .derecha{
  float: right;
  margin: 33px;
  font-size: 14px;
  font-weight: 700;
  }

    /* SNACKBAR */
    .error {
      font-weight: 300;
      font-size: 20px;
      width: 30%;
      margin: 0 36%;
      top: 8%;
      background-color: rgb(55, 55, 55);
      color: #fff;
      padding: 10px 7px 10px 7px;
    }
  
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .nav{ height: 70px; }
    
  .form{
  margin-top: 100px;
  }
  form .titulo p{
  font-size: 25px;
  margin-top: 0px;
  }
  
  .txtbox{
  background-color: #fff;
  width: 70%;
  padding: 13px 10px 11px 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
  .btn{
    font-size: 20px;
  }
  .derecha{
  float: right;
  margin: 33px;
  font-size: 14px;
  font-weight: 700;
  }
    
  .linea{
    padding-top: 480px;
  }
  .linea p{
    font-size: 12px;
  }

    /* SNACKBAR */
    .error {
      font-weight: 300;
      font-size: 14px;
      width: 30%;
      margin: 0 31%;
      top: 12%;
      background-color: rgb(55, 55, 55);
      color: #fff;
      padding: 10px 7px 10px 7px;
    }
  
  
  
}

/* Teléfonos */
@media only screen and (min-width: 380px) and (max-width: 575px){


/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
width: 10%;
padding-top: 5px;
}
.logoFILC{
width: 20%;
padding: 15px 0px 5px 0px;
margin-right: 30px;
}

.logoCam img{ width: 100%; }
.logoFILC img{
width: 100%;
margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/

.back-gray{
  background-color: #fff;
  position: absolute;
  z-index: 400;
  height: 800px;
  top: 0%;
  width: 100%;
}

.nav{
  height: 60px;
  background-color: #ECECEC;
  z-index: 5000;
}

.contenido-form{
  width: 80%;
  margin: 0 10%;
}

.derecha{
  float: right;
  margin: 22px;
  font-size: 11px;
  font-weight: 700;
}

.form{
  width: 70%;
  margin: 0 10%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
}

.form .titulo p{
  font-size: 20px;
}

.txtbox{
  width: 70%;
}

.btn{
  margin-top: -20px;
}

.linea{
  margin-bottom: 1%;
  padding-top: 300px;
}

.linea p{
  font-size: 11px;
  margin-top: 10px;
} 
  
  /* SNACKBAR */
  .error {
    font-weight: 300;
    font-size: 14px;
    width: 30%;
    margin: 0 31%;
    top: 12%;
    background-color: rgb(55, 55, 55);
    color: #fff;
    padding: 10px 7px 10px 7px;
  }


}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 379px){

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 10%;
  padding-top: 5px;
  }
  .logoFILC{
  width: 20%;
  padding: 15px 0px 5px 0px;
  margin-right: 30px;
  }
  
  .logoCam img{ width: 100%; }
  .logoFILC img{
  width: 100%;
  margin-left: 15px;
  }
  /*-------------------LOGOS FIN-----------------------*/
  /*---------------------------------------------------*/
  
  .back-gray{
    background-color: #fff;
    position: absolute;
    z-index: 400;
    height: 800px;
    top: 0%;
    width: 100%;
  }
  
  .nav{
    height: 60px;
    background-color: #ECECEC;
    z-index: 5000;
  }
  
  .contenido-form{
    width: 80%;
    margin: 0 10%;
  }
  
  .derecha{
    float: right;
    margin: 22px;
    font-size: 10px;
    font-weight: 700;
  }
  
  .form{
    width: 70%;
    margin: 0 10%;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .form .titulo p{
    font-size: 18px;
  }
  
  .txtbox{
    width: 65%;
    font-size: 12px;
  }

  .yellow i{
    font-size: 18px;
  }
  
  .btn{
    margin-top: -20px;
    font-size: 15px;
  }
  
  .linea{
    margin-bottom: 1%;
    padding-top: 300px;
  }
  
  .linea p{
    font-size: 10px;
    margin-top: 10px;
  } 
  
  
  /* SNACKBAR */
  .error {
    font-weight: 300;
    font-size: 14px;
    width: 30%;
    margin: 0 27%;
    top: 10%;
    background-color: rgb(55, 55, 55);
    color: #fff;
    padding: 10px 7px 10px 7px;
  }
  
  


  }
      
  
/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){

  /*-------------------LOGOS INICIO-----------------------*/
  /*-----------------------------------------------------*/
  .logoCam {
    width: 10%;
    padding-top: 5px;
    }
    .logoFILC{
    width: 20%;
    padding: 15px 0px 5px 0px;
    margin-right: 15px;
    }
    
    .logoCam img{ width: 100%; }
    .logoFILC img{
    width: 100%;
    margin-left: 5px;
    }
    /*-------------------LOGOS FIN-----------------------*/
    /*---------------------------------------------------*/
    
    .back-gray{
      background-color: #fff;
      position: absolute;
      z-index: 400;
      height: 800px;
      top: 0%;
      width: 100%;
    }
    
    .nav{
      height: 50px;
      background-color: #ECECEC;
      z-index: 5000;
    }
    
    .contenido-form{
      width: 80%;
      margin: 0 10%;
    }
    
    .derecha{
      float: right;
      margin: 15px 10px 0px 0px;
      font-size: 9px;
      font-weight: 700;
    }
    
    .form{
      width: 70%;
      margin: 0 10%;
      padding: 15px;
      border-radius: 20px;
      margin-top: 20px;
    }
    
    .form .titulo p{
      font-size: 18px;
    }
    
    .txtbox{
      width: 60%;
      padding: 12px 7px 12px 7px;
      font-size: 11px;
    }
    .yellow{
      padding: 8px 5px 11px 10px;
    }  
    .yellow i{
      font-size: 15px;
    }
    
    .btn{
      margin-top: -20px;
      font-size: 15px;
    }
    
    .linea{
      margin-bottom: 1%;
      padding-top: 300px;
    }
    
    .linea p{
      font-size: 10px;
      margin-top: 10px;
    } 
    
    
    /* SNACKBAR */
    .error {
      font-weight: 300;
      font-size: 14px;
      width: 30%;
      margin: 0 27%;
      top: 10%;
      background-color: rgb(55, 55, 55);
      color: #fff;
      padding: 10px 7px 10px 7px;
    }
    
    
  
  
    }
        