.container{
  width: 90%;
  margin: 0 5%;
  margin-top: 10.5%;
}

.container .nombreEdit{
  font-size: 35px;
  text-align: center;
  font-family: 'Englebert';
}

.container .nohay{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.second{
  /* border: 3px solid red; */
  width: 100%;
  padding-left: 25px;
}

.caja{
  display: flex;
  justify-content: center;
	width: 200px;
  border: 2px solid #fff;
}
.box{
	/* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 300px;
  height: 260px;
	margin: 8px;
  border: 2px solid #6A6A6A;
}

.box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.book{ width: 10px; margin-bottom: 50px; padding: 15px 15px 15px 15px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  display: inline-table;
  margin: 18px;}
.book .title {text-align: center; font-family: 'Roboto Serif', serif; font-size: 15px; margin-bottom: 4px;}
.book .autor{color: #6A6A6A; font-family: 'Roboto Serif', serif; text-align: center;font-size: 14px; margin-bottom: 4px;}
.book .money{font-family: 'Jost', sans-serif; text-align: center; color: #FF0000; font-weight: bolder; }



