<div class="container">


  <!-- <p>libros-vendedor works!</p> -->


<div class="nombreEdit"> {{ vendedor.nombre | uppercase }} </div>


<div class="nohay">
  {{mensaje}}
</div>

<div class="listaBooks">

  <div class="book" *ngFor="let item of readCategoria">
    <div class="caja">
      <div class="box">
        <img [src]="item.imagen1 + item.tipo1" alt="img-book">
      </div>
    </div>

    <div class="title">
      {{ item.titulo }}
    </div>
    <div class="title">
      <small>{{ item.subtitulo }}</small>
    </div>
    <div class="money">
      <p>{{ item.precio }} Bs</p>
    </div>
    
    <div class="autor">
      <span>{{ item.autor_nombre }}</span>
      <span>{{ item.autor_apellido }}</span>
    </div>
    <br>
  </div>

</div>


</div>