<div class="back-gray">

  <!-- <div class="hamburguesa">
    <button class="hamb" (click)="propiedades.visible = !propiedades.visible">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div> -->
  <i class="fa-solid fa-caret-right"></i>
  <div class="img">
    <img src="../../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120 copia.jpg" alt="">
  </div>
  <div class="texto">
    <p>{{ readPerfil.nombre  }}</p>
    <a [routerLink]="['/index']">Ir a Inicio</a>
  </div>

  <div class="nav">
    
      <div class="logoFILC">
        <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
      </div>
      <div class="logoCam">
        <!-- <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc"> -->
        <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
      </div>
    
  </div>
  
</div>


      <nav class="main-menu">
        <ul>
              <li class="foto">
                  <img src="../../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">
              </li>
            <div class="white">
              <li class="has-subnav">
                  <span class="nav-text" >
                    {{ readPerfil.nombre }}
                  </span>
                  <!-- <p class="categoria"> {{ readPerfil[0].categoria }}</p> -->
              </li>

              <div class="datos-centro">
                <li class="dat dat-telefono">
                    <div class="titu">
                        Teléfono:
                    </div>
                    <div class="conten"> {{ readPerfil.telefono1 }}</div>
                    <div class="conten"> {{ readPerfil.telefono2 }}</div>
                </li>
                
                <li class="dat dat-celular">
                    <div class="titu">
                        Celular:
                    </div>
                    <div class="conten">{{ readPerfil.celular1 }}</div>
                    <div class="conten">{{ readPerfil.celular2 }}</div>
                </li>
                <li class="dat dat-direccion">
                    <div class="titu">
                        Dirección:
                    </div>
                    <div class="conten">
                      {{ readPerfil.direccion }}
                    </div>
                </li>
                <li class="dat dat-correo">
                    <div class="titu">
                        Correo electrónico:
                    </div>
                    <div class="conten">{{ readPerfil.correo1 }}</div>
                    <div class="conten">{{ readPerfil.correo2 }}</div>
                </li>
                <li class="dat dat-pagina">
                    <div class="titu">
                        Página:
                    </div>
                    <div class="conten">{{ readPerfil.pagina }}</div>
                </li>
              </div>
                <li class="boton">
                  <button>EDITAR</button>
                </li>
            </div>
        </ul>

    </nav>

  <div class="contenido">

    <div class="titulos">
        <h3 class="izq"><span class="resaltado">TUS</span> LIBROS</h3>
        <h3 class="der" (click)="propiedades.error = !propiedades.error">+ <span class="resaltado">AÑADIR</span> LIBRO</h3>
    </div>

    <br>

    <div class="tabla" *ngIf="tabla">
      <div class="table-responsive">
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">IMAGEN</th>
              <th scope="col">TÍTULO</th>
              <th scope="col">AUTOR</th>
              <th scope="col">PRECIO</th>
              <th scope="col">DESCRIPCIÓN</th>
              <th scope="col">HABILITA TU LIBRO</th>
              <th scope="col">borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="informacion" *ngFor="let element of readData">
              <td class="imagen"><img [src]="element.imagen1 + element.tipo1" alt="aaa"></td>
              <td class="title">{{ element.titulo }} <br> {{ element.subtitulo }} </td>
              <td class="autor">{{ element.autor_nombre }} <br> {{ element.autor_apellido }} </td>
              <td class="precio">{{ element.precio }} Bs.</td>
              <td class="descripcion">{{ element.descripcion }}</td>
              <td class="pago"> 
                Habilita tu libro
                <br><br>
                <i class="fa-solid fa-eye-slash"></i>
              </td>
              <td>
                <button (click)="deleteData(element.id_libro)"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </section>
        <br><br>
      </div>
      
    </div>
  </div>



  <div class="Pues_el_formulario" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">

    <div class="close"(click)="propiedades.error = !propiedades.error">
      <i class="fa-solid fa-circle-xmark " ></i>
    </div>
    <div class="form_wrap">

      <section class="cantact_info">
          <section class="info_title">
              <div class="img-perfil">
                <img src="../../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120 copia.jpg" alt="">
              </div>
              <h2> Editorial Comunicarte S.R.L.</h2>
          </section>
          <!-- <section class="info">
              <p>comercialcbba@comunicarte.com.bo</p>
          </section> -->
      </section>
    
      <form [formGroup]="formulario" class="agendar-cita">
          <div class="cita_info">
            <h1>AÑADE TU LIBRO</h1>
            <p class="des">Añade libros para vender y paga una pequeña tarifa anual para mostrarlos</p>

            <!-- idioma -->
              <div class="col-5">
                  <label for="fidioma" class="lbl">Idioma:</label>
                  <br>
                  <select class="selecto" formControlName="idioma">
                    <option *ngFor="let item of idioma" class="option" [value]="item">{{ item }}</option>
                  </select>
              </div>
        
              <!-- titulo -->
              <div class="col-5">
                <div class="izq-f">
                  <label for="ftitulo" class="lbl">Titulo:</label>
                  <div>
                    <input
                    type="text"
                    id="ftitulo"
                    class="txtbox"
                    formControlName="titulo"
                    >
                  </div>
                </div>
                <div class="der-f">
                  <label for="fsubtitulo" class="lbl">Subtitulo:</label>
                  <div>
                    <input
                    type="text"
                    id="fsubtitulo"
                    class="txtbox"
                    formControlName="subtitulo"
                    >
                  </div>
                </div>
              </div>

              <!-- autor -->
              <div class="col-5">
                <div class="izq-f">
                  <label for="ftitulo" class="lbl">Autor <small>(nombre)</small> :</label>
                  <div>
                    <input
                    type="text"
                    id="ftitulo"
                    class="txtbox"
                    formControlName="autor_nombre"
                    >
                  </div>
                </div>
                <div class="der-f">
                  <label for="fsubtitulo" class="lbl">Autor <small>(apellido)</small> :</label>
                  <div>
                    <input
                    type="text"
                    id="fsubtitulo"
                    class="txtbox"
                    formControlName="autor_apellido"
                    >
                  </div>
                </div>
              </div>

              <!-- descripción -->
              <div class="col-5">
                <label for="des" class="lbl">Descripción:</label>
                <div class="descripcion">
                    <textarea 
                    class="txtarea"
                    name="descripcion"
                    id="des" 
                    cols="30" rows="3"
                    formControlName="descripcion"
                    ></textarea>
                </div>
              </div>
              
              <!-- numero_paginas -->
              <div class="col-5">
                <label for="des" class="lbl">Número de páginas:</label>
                <div class="descripcion">
                  <input
                  type="number"
                  id="fn-paginas"
                  class="txtarea"
                  formControlName="numero_paginas"
                  >
                </div>
              </div>
                  
              <!-- precio / año de publicacion -->
              <div class="col-5">
                <div class="izq-f">
                  <label for="fprecio" class="lbl">Precio <small>(Bs.)</small> :</label>
                  <div>
                    <input
                    type="number"
                    id="fprecio"
                    class="txtbox"
                    formControlName="precio"
                    >
                  </div>
                </div>
                <div class="der-f">
                  <label for="faño_publicacion" class="lbl">Año de publicación:</label>
                  <div>
                    <input 
                    type="number"
                    id="faño_publicacion"
                    class="txtbox"
                    formControlName="año_publicacion"
                    >
                  </div>
                </div>
              </div>
    
              <!-- formato -->
              <div class="col-5">
                <label for="fformato" class="lbl">Formato:</label>
                <div>
                  <select class="select" formControlName="formato">
                    <option *ngFor="let item of formato" class="option"  [value]="item">{{ item }}</option>
                  </select>

                </div>
              </div>
    
              <!-- imagen -->
              <div class="col-5">
                <label for="fimagenes" class="lbl-img">Imagenes</label>
                <br>
                <input
                type="file"
                #fileInput
                class="txtbox txtarea"
                accept="image/*"
                (change)="onSelect($event)"
                id="fimagenes"
                placeholder="Imagenes"
                formControlName="imagen"
                >
                <div class="img-book"><img [src]="url" title="Profile Picture" class="foto-libro"></div>
                
              </div>

              <!-- estado --><!-- categoria -->
              <div class="col-5">
                <div class="izq">
                  <label for="fcategoria" class="lbl">Categoría:</label>
                  <div>
                    <select class="select" formControlName="id_categoria">
                      <option *ngFor="let item of readCategoria" class="option" [value]="item.id_categoria">{{ item.categoria }}</option>
                    </select>
                  </div>
                </div>
                <div class="der">
                  <label for="fcategoria" class="lbl">Estado:</label>
                  <div>
                    <select class="select" formControlName="estado">
                      <option *ngFor="let item of estado" class="option" [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              
              <!-- edad_publico -->
              <div class="col-5">
                <label for="fcategoria" class="lbl">Edad Público:</label>
                <div>
                  <select class="selecto" formControlName="edad_publico">
                    <option *ngFor="let item of edad" class="option" [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div >

          </div>

        
        <div class="enviar">
          <button 
          type="submit" 
          (click)="guardar()" 
          
          [class.btn-invalid]="formulario.invalid"
        >
          ENVIAR
        </button>
        </div>
      </form>  
              
      <h3 class= "snackbar" [ngClass]="{ 'error': Snack.error, 'advertencia': !Snack.error }">
        {{ mensaje }}
      </h3> <!--Se usa asi-->
    
    </div>

    
  </div>



