
<div class="container">

  <div class="centro">
    
    <div class="Pues_el_formulario">
      <p>Identifiquese antes de continuar</p>
      <br>

      <form [formGroup]="formulario">
    
      <div class="contenido-form">
        
          <div class="row">
            <input
            type="text"
            class="txtbox"
            placeholder="Nombre"
            formControlName="correo1"
            >
          </div>
  
          <br><br>
          <div class="row">
            <input
            type="password"
            class="txtbox"
            placeholder="Contraseña"
            formControlName="contrasenia"
            >
          </div>
        
      </div>
      <br><br>
        <div class="row">
          <button
          type="submit"
          (click)="ingresar()"
          class="btn"
          >Ingresar</button>
        </div>
    
      </form>
    </div>

  </div>
  
</div>
