.container{
  width: 100%;
  margin-top: -3%;
  background-color: #323232;
  position: absolute;
  z-index: 1000;
  height: 885px;
}

.centro{
  width: 80%;
  margin: 0 10%;
}

.Pues_el_formulario{
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding-bottom: 15px;
}

.Pues_el_formulario p{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-size: 700;
  background-color: rgb(221, 221, 221);
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius:8px;
}

form{
  /* background-color: aquamarine; */
}
.contenido-form{
  /* background-color: black; */
}

.txtbox{
  width: 80%;
  border: 1px solid #323232;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #323232;
}

.btn{
  background-color: green;
  border: none;
  color: #ffffff;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}