h1{
  margin-bottom: 5px;
}

.container{
  margin-bottom: 200px;
  width: 80%;
  margin: 0 auto;
}

.container .buscando {
  font-family: 'Englebert';
  font-size: 35px;
  border-bottom: 2px solid #fbd606;
}

.no-hay{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.termino{
  font-size: 18px;
  padding-left: 10px;
} 


/* LISTA DE LIBROS */
/* LISTA DE LIBROS */
/* LISTA DE LIBROS */
/* LISTA DE LIBROS */

.container{
  width: 90%;
  margin: 0 5%;
  margin-top: 10.5%;
}

.container .nombreEdit{
  font-size: 35px;
  text-align: center;
  font-family: 'Englebert';
}

.container .nohay{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.caja{
  display: flex;
  justify-content: center;
	width: 200px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 320px;
  height: 280px;
  margin-bottom: 10px;
	/* margin: 8px; */
  /* border: 4px solid orange; */
  background: rgb(189, 152, 152);
}

.box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.book{ width: 14%; margin-bottom: 50px; padding: 15px 25px 15px 25px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  display: inline-table;
  margin: 10px;
}
.book .title {text-align: center; font-family: 'Roboto Serif', serif; font-size: 17px; margin-bottom: 4px; 
}
.book .descripcion{color: #7f7f7f; font-family: 'Roboto Serif', serif; text-align: center;font-size: 12px;  margin-bottom: 5px; height: 40px; overflow-y: hidden;
}
.book .money{font-family: 'Jost', sans-serif; text-align: center; color: #FF0000; font-weight: bolder; 
}
