<div class="container">
  
  <p class="buscando">Buscando: <small> {{ termino }} </small></p>

  <br>
  <div *ngIf="libros.length === 0">
    <small class="no-hay">No existen resultados para: <b class="termino">{{ termino }}</b> </small>
  </div>


  <div class="listaBooks">
  
    <div class="book" *ngFor="let item of libros">
      <div class="caja">
        <div class="box">
          <img [src]="item.imagen1 + item.tipo1" alt="">
        </div>
      </div>
      <div class="title">
        {{ item.titulo }}
      </div>
      <div class="descripcion">
        {{ item.descripcion }}
      </div>
      <div class="money">
        {{ item.precio }} Bs
      </div>
    </div>
    <br>
  </div>

  <br><br>

</div>
