.back-gray{
  background-color: #fff ;position: absolute;
  height: 1500px;
  top: 0%;
  width: 100%;
}

.nav{
  height: 100px;position: fixed;
  z-index: 2000;
  background-color: #ECECEC;
}

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 5%;
  float: left;
  padding-top: 7px;
}
.logoFILC{
  float: left;
	width: 10%;
  padding: 25px 5px 5px 10px;
  margin-right: 50px;
}

.logoCam img{ width: 100%; }
.logoFILC img{
	width: 100%;
	margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/

.derecha{
  float: right;
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.volver{
  margin: 1px 0px 0px 25px;
  text-align: center;
}
.volver a{
  color: #1A7712;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.volver a i{
  font-size: 20px;
  color: #1A7712;
  margin-right: 8px;
}

.enlace{
  color: #1A7712;font-weight: 800;margin-left: 10px;
}

form .titulo p{
  font-family: 'Englebert';
  font-size: 35px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

.form{
  position: absolute;
  z-index: 500;
  background-color: #D2F2D1;
  width: 45%;
  margin: 0 25%;
  padding: 20px;
  border-radius: 40px;
  margin-top: 150px;
}

.contenido-form{
  width: 80%;
  margin: 0 10%;
}

.contenido-form .green i{
  width: 5%;
}

.green-img{margin-left: 12px;}

.txtbox-img{
  width: 56%;
  padding: 10px 10px 8px 10px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.txtbox{
  background-color: #fff;
  width: 87%;
  padding: 13px 10px 11px 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.select{
  border: none;
  padding: 12px 10px 11px 10px;
  width: 91%;
 border-bottom-right-radius: 10px;
 border-top-right-radius: 10px;
}

.text-danger{
  font-size: 11px;
  color: rgb(157, 12, 12);
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.green{
  background-color: #439F41;
  padding: 11px 5px 11.5px 11px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.green i{
  color: #fff;
  font-size: 20px;
}

.btn{
  width: 80%;
  margin: 0 10%;
  background-color: #1A7712;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
  border: none;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Englebert';
  font-size: 35px;
  letter-spacing: 2px;
}

.linea{
  margin-bottom: 20%;
  padding-top: 124  0px;
  position: absolute;
  width: 100%;
  z-index: 400;
}

.linea p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
} /* */


/* VALIDACIONES */

.btn-invalid{
  background-color: #647360;
  color: #dddddd;
  font-weight: 800;
}





.error {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 0 29%;
  top: 15%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}



















/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
  
  
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.nav{
height: 80px;
}

.derecha{
float: right;
margin: 32px;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 700;
}

form .titulo p{
font-size: 30px;
margin-top: 0px;
}

.contenido-form{
width: 80%;
margin: 0 10%;
}

.green-img{margin-left: 12px;}

.txtbox-img{
margin-top: -10px;
width: 36%;
padding: 10px 10px 8px 10px;
background-color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.txtbox{
background-color: #fff;
width: 81%;
padding: 13px 10px 11px 10px;
border: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.select{
border: none;
padding: 12px 10px 11px 10px;
width: 87%;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}

.green{
background-color: #439F41;
padding: 11px 12px 11.5px 11px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

.btn{
padding: 5px;
margin-top: 25px;
margin-bottom: 12px;
font-size: 30px;
}
.linea{
margin-bottom: 20%;
padding-top: 1180px;
position: absolute;
width: 100%;
z-index: 400;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  
.nav{
height: 80px;
}

.derecha{
float: right;
margin: 32px;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 700;
}

.form{
  margin-top: 100px;
}

form .titulo p{
font-size: 30px;
margin-top: 0px;
}

.contenido-form{
width: 80%;
margin: 0 10%;
}

.prewiew{
width: 40%;
margin: 0 30%;
padding-bottom: 15px;
}

.green-img{margin-left: 0px;}

.txtbox-img{
margin-top: -10px;
width: 74%;
padding: 10px 10px 8px 10px;
background-color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.txtbox{
background-color: #fff;
width: 75%;
padding: 13px 10px 11px 10px;
border: none;
font-size: 12px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.select{
border: none;
padding: 12px 10px 11px 10px;
width: 81%;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}

.green{
background-color: #439F41;
padding: 10px 13px 11px 11px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

.btn{
padding: 5px;
margin-top: 25px;
margin-bottom: 12px;
font-size: 30px;
}
.linea{
margin-bottom: 20%;
padding-top: 1080px;
position: absolute;
width: 100%;
z-index: 400;
}

.green i{
font-size: 18px;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
width: 10%;
padding-top: 5px;
}
.logoFILC{
width: 22%;
padding: 12px 0px 5px 5px;
margin-right: 35px;
}

.logoCam img{ width: 100%; }
.logoFILC img{
width: 100%;
margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/

.nav{height: 80px;}

.derecha{
margin: 25px 24px 20px 10px;
font-size: 12px;
font-weight: 700;
}
.form{
width: 60%;
margin: 0 18%;
padding: 10px;
border-radius: 30px;
margin-top: 90px;
}


form .titulo p{
font-size: 20px;
margin-top: 0px;
}

.contenido-form{
width: 80%;
margin: 0 10%;
}

.green-img{margin-left: 12px;}
.prewiew{width: 80px;}
.txtbox-img{
margin-top: -10px;
width: 47%;
font-size: 12px;
padding: 8px 10px 7px 10px;
background-color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.txtbox{
background-color: #fff;
width: 80%;
padding: 11px 10px 10px 10px;
border: none;
font-size: 12px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.select{
border: none;
padding: 12px 10px 11px 10px;
width: 87%;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}

.green{
background-color: #439F41;
padding: 8px 7px 9px 11px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

.green i{
font-size: 13px;
}

.btn{
padding: 5px;
margin-top: 25px;
margin-bottom: 12px;
font-size: 30px;
}
.linea{
margin-bottom: 20%;
padding-top: 880px;
position: absolute;
width: 100%;
z-index: 400;
}

.linea p{
font-size: 12px;
}

}
  
/* Teléfonos */
@media only screen and (min-width: 380px) and (max-width: 575px){


/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
width: 10%;
padding-top: 5px;
}
.logoFILC{
width: 20%;
padding: 12px 0px 5px 0px;
margin-right: 30px;
}

.logoCam img{ width: 100%; }
.logoFILC img{
width: 100%;
margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/

.nav{height: 60px;}

.derecha{
margin: 20px 24px 20px 10px;
font-size: 10px;
font-weight: 700;
}
.form{
width: 70%;
margin: 0 12%;
padding: 10px;
border-radius: 30px;
margin-top: 10px;
}


form .titulo p{
font-size: 20px;
margin-top: 0px;
}

.contenido-form{
width: 80%;
/* background-color: red; */
margin: 0 10%;
}

.prewiew{
width: 50%;
padding-bottom: 10px;
margin: 0 25%;
}
.green-img{margin-left: 0px;}

.txtbox-img{
margin-top: -10px;
width: 77%;
font-size: 11px;
padding: 8px 10px 7px 10px;
background-color: #fff;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.txtbox{
background-color: #fff;
width: 77%;
padding: 11px 10px 10px 10px;
border: none;
font-size: 12px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.select{
border: none;
padding: 10px 10px 9px 10px;
width: 85%;
font-size: 12px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}

.green{
background-color: #439F41;
padding: 8px 7px 9px 11px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

.green i{
font-size: 13px;
}

.btn{
padding: 5px;
border-radius: 15px;
margin-top: 25px;
margin-bottom: 12px;
font-size: 20px;
}
.linea{
margin-bottom: 20%;
padding-top: 900px;
position: absolute;
width: 100%;
z-index: 400;
}

.linea p{
font-size: 12px;
}

}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 379px){


  /*-------------------LOGOS INICIO-----------------------*/
  /*-----------------------------------------------------*/
  .logoCam {
    width: 10%;
    padding-top: 5px;
  }
  .logoFILC{
    width: 20%;
    padding: 12px 0px 5px 0px;
    margin-right: 30px;
  }
  
  .logoCam img{ width: 100%; }
  .logoFILC img{
    width: 100%;
    margin-left: 15px;
  }
  /*-------------------LOGOS FIN-----------------------*/
  /*---------------------------------------------------*/
  
  .nav{height: 60px;}
  
  .derecha{
    margin: 20px 24px 20px 10px;
    font-size: 10px;
    font-weight: 700;
  }
  .form{
    width: 70%;
    margin: 0 12%;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  
  form .titulo p{
    font-size: 20px;
    margin-top: 0px;
  }
  
  .contenido-form{
    width: 80%;
    margin: 0 10%;
  }
  .prewiew{
    width: 50%;
    padding-bottom: 10px;
    margin: 0 25%;
  }
  .green-img{margin-left: 0px;}

  .txtbox-img{
    margin-top: -10px;
    width: 74%;
    font-size: 9px;
    padding: 7px 10px 7px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .txtbox{
    background-color: #fff;
    width: 74%;
    padding: 9px 10px 9px 10px;
    border: none;
    font-size: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .select{
    border: none;
    padding: 6.5px 14px 8px 10px;
    width: 83%;
    font-size: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .green{
    background-color: #439F41;
    padding: 4px 10px 8px 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .green i{
    font-size: 15px;
  }
    
  .btn{
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .linea{
    margin-bottom: 20%;
    padding-top: 820px;
    position: absolute;
    width: 100%;
    z-index: 400;
  }
  
  .linea p{
    font-size: 11px;
  }
  
}
        
/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){


  /*-------------------LOGOS INICIO-----------------------*/
  /*-----------------------------------------------------*/
  .logoCam {
    width: 10%;
    padding-top: 5px;
  }
  .logoFILC{
    width: 20%;
    padding: 12px 0px 5px 0px;
    margin-right: 20px;
  }
  
  .logoCam img{ width: 100%; }
  .logoFILC img{
    width: 100%;
    margin-left: 5px;
  }
  /*-------------------LOGOS FIN-----------------------*/
  /*---------------------------------------------------*/
  
  .nav{height: 50px;}
  
  .derecha{
    margin: 18px 18px 20px 10px;
    font-size: 9px;
    font-weight: 700;
  }
  .form{
    width: 70%;
    margin: 0 12%;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  
  form .titulo p{
    font-size: 20px;
    margin-top: 0px;
  }
  
  .contenido-form{
    width: 80%;
    margin: 0 10%;
  }

  .prewiew{padding-bottom: 7px; width: 50%;margin: 0 25%; } 
  .green-img{margin-left: 0px;}

  .txtbox-img{
    margin-top: -10px;
    width: 70%;
    font-size: 9px;
    padding: 7px 10px 7px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .txtbox{
    background-color: #fff;
    width: 70%;
    padding: 9px 10px 9px 10px;
    border: none;
    font-size: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .select{
    border: none;
    padding: 6.5px 14px 8px 10px;
    width: 83%;
    font-size: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .green{
    background-color: #439F41;
    padding: 4px 10px 8px 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .green i{
    font-size: 13px;
  }
    
  .btn{
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .linea{
    margin-bottom: 20%;
    padding-top: 800px;
    position: absolute;
    width: 100%;
    z-index: 400;
  }
  
  .linea p{
    font-size: 11px;
  }
  
}
    