<div class="back-gray">
<div class="nav">
  
    <div class="logoFILC">
      <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
    </div>
    <div class="logoCam">
      <!-- <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc"> -->
      <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
    </div>
  
    <div class="derecha">YA ERES USUARIO? <a [routerLink]="['/login']" class="enlace">INICIO SESIÓN</a>
    </div>

  </div>
  
</div>


<div class="form">

  <form [formGroup]="formulario">
  
    <div class="titulo">
      <p>CREAR UNA CUENTA</p>
    </div>

    <div class="contenido-form">

      <!-- <br> -->
      <!-- <img [src]="url" width="150px" title="Profile Picture" class="prewiew"> -->
      <!-- poner imagen -->
      <!-- <span class="green green-img"><i class="fa-solid fa-image"></i></span> -->
        <!-- <input
        class="txtbox-img"
        #fileInput
        type="file"
        id="img"
        accept="image/*"
        (change)="onSelect($event)"
        > -->
        <!-- El nombre -->
        <br><br>
        <span class="green"><i class="fa-sharp fa-solid fa-user-large"></i></span>
        <input
        type="text"
        id="fnombre"
        class="txtbox"
        placeholder="Nombre"
        formControlName="nombre"
        >
        <span class="text-danger" *ngIf="nombreNoValido">Ingrese un nombre válido</span>
      
        <!-- la categoria -->
        <br><br>
        <span class="green"><i class="fa-sharp fa-solid fa-newspaper"></i></span>
          <select class="select" formControlName="categoria">
            <option *ngFor="let item of categoria" [value]="item" class="option">{{ item }}</option>
          </select>
        <span class="text-danger" *ngIf="categoriaNoValido">Seleccione una categoría</span>
      
        <!-- el correo -->
        <br><br>
        <span class="green"><i class="fa-sharp fa-solid fa-envelope"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Correo"
        formControlName="correo1"
        >
        <span class="text-danger" *ngIf="correo1NoValido">Ingrese un correo válido</span>

        <!-- la contraseña -->
        <br><br>
        <span class="green"><i class="fa-solid fa-key"></i></span>
        <input
        type="password"
        class="txtbox"
        placeholder="Contraseña"
        formControlName="contrasenia"
        >
        <span class="text-danger" *ngIf="contraseniaNoValido">Ingrese una contrasenia</span>

        <!-- el telefono -->
        <br><br>
        <span class="green"><i class="fa-solid fa-phone"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Teléfono"
        formControlName="telefono1"
        >
        <span class="text-danger" *ngIf="telefono1NoValido">Ingrese un telefono</span>

        <!-- el telefono 2 -->
        <br><br>
        <span class="green"><i class="fa-solid fa-phone"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Teléfono"
        formControlName="telefono2"
        >
        <span class="text-danger" *ngIf="telefono2NoValido">Ingrese un telefono</span>

        <!-- el celular -->
        <br><br>
        <span class="green"><i class="fa-solid fa-mobile-screen"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Celular"
        formControlName="celular1"
        >
        <span class="text-danger" *ngIf="celular1NoValido">Ingrese un celular</span>

        <!-- el celular 2 -->
        <br><br>
        <span class="green"><i class="fa-solid fa-mobile-screen"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Celular"
        formControlName="celular2"
        >
        <span class="text-danger" *ngIf="celular2NoValido">Ingrese un celular</span>

        <!-- el correo 2 -->
        <br><br>
        <span class="green"><i class="fa-sharp fa-solid fa-envelope"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Correo"
        formControlName="correo2"
        >
        <span class="text-danger" *ngIf="correo2NoValido">Ingrese una correo</span>

        <!-- la dirección -->
        <br><br>
        <span class="green"><i class="fa-solid fa-location-dot"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Dirección"
        formControlName="direccion"
        >

        <!-- la página -->
        <br><br>
        <span class="green"><i class="fa-solid fa-link"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Página"
        formControlName="pagina"
        >
        <span class="text-danger" *ngIf="paginaNoValido">Ingrese una página</span>
    </div>
      
      <button
      class="btn"
      type="submit"
      (click)="guardar()"
      >CREAR</button>

    <div class="volver"><a [routerLink]="['/index']" ><i class="fa-solid fa-arrow-left"></i>Volver</a></div>

      <!-- [disabled]="!formulario.valid"
      [class.btn-invalid]="formulario.invalid" -->

      <h3 class= 'texto' [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }">
        {{ mensaje }} 
      </h3> <!--Se usa asi-->

  </form>

</div>

<div class="linea">
  <hr>
  <p>CÁMARA DEPARTAMENTAL DEL LIBRO DE COCHABAMBA</p>
</div>

