<app-navk></app-navk>

<div class="container">

  <div class="centro">
    <br><br>
    <h2 class="titulo"  (click)="propiedades.error = !propiedades.error"><button>añada su comunicado</button></h2>
    <!-- <img src="../../../../assets/img/eventos/defdc3251a26785b981d605bcf42af30.jpg" alt="" width="50px"> -->
    <!-- <img src="../../../../assets/img/eventos/99-994651_gong-yoo-gong-yoo-wallpaper-desktop.jpg.jpeg" alt="" width="100px"> -->
    
    <h3 class="subtitulo">Lista de los comunicados</h3>

    <div class="tabla" >
      <div class="table-responsive">
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Nombre de la imagen</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr class="informacion"   *ngFor="let item of readData;">
              <td class="title"> {{item.titulo}} </td>
              <td class="autor"> {{item.descripcion}} </td>
              <td class="autor"> {{item.nombre_archivo}}</td>
              <td class="precio" ><a [href]="item.imagen1 + item.tipo1" download>Descargar</a> </td>
              <td><button (click)="deleteData(item.id_addComunicado)"><i class="fa-solid fa-trash"></i></button></td>              
            </tr>
          </tbody>
        </section>
        <br><br>
      </div>
      
    </div>

  </div>
  
</div>


<div class="Pues_el_formulario"  [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">
      
  <div class="form_wrap">
    <form [formGroup]="formulario">

      <span>Añade un evento</span>
      <div class="close">
        <i class="fa-solid fa-circle-xmark " (click)="propiedades.error = !propiedades.error" ></i>
      </div>

      <div class="row">
          <label for="ftitulo" class="lbl">Titulo</label>
          <br>
          <input
          type="text"
          id="ftitulo"
          class="txtbox"
          placeholder="Titulo del Evento"
          formControlName="titulo"
          >
      </div>

      <br><br>
  
      <div class="row">
          <label for="fdescripcion" class="lbl">Descripción:</label>
          <br>
          <textarea
          type="text"
          id="fdescripcion"
          class="txtbox"
          placeholder="Descripción (opcional)"
          formControlName="descripcion"
          ></textarea>
      </div>

      <br>
      <button 
      mat-flat-button 
      color="accent" 
      (click)="adicionImg()"
      >+</button>

      <div class="row fila-img" *ngFor="let item of cantidadImg;">
          <label for="fimagenes" class="lbl">Imagenes</label>
          <br>
          <div class="img"><img [src]="url" class="img-com" title="Profile Picture"></div>
          <label for="fimagenes" class="custom-file-upload">Seleccionar imagen</label>
          <input
          type="file"
          #fileInput
          class="imgbox"
          accept="image/*"
          (change)="onSelect($event)"
          id="fimagenes"
          name="archivossubidos[]" multiple
          placeholder="Imagenes"
          formControlName="imagenes"
          >

          <button 
          (click)="borrarPasatiempo(item)"
          class="borrarImg"
          >Eliminar</button>

      </div>
      <br><br>
      <br><br>

      <div class="row">
        <button
        class="btn"
        (click)="guardar()"
        >Guardar</button>
      </div>
    </form>
  </div>

</div>


